% Compiler Options for rebar
{erl_opts, [
  {src_dirs, ["src"]}
]}.

% Dependencies
{deps, [
    {elli, "", {git, "git://github.com/knutin/elli.git"}},
    {gpio, "", {git, "git://github.com/paoloo/gpio.git"}}
]}.

% Which files to cleanup when rebar clean is executed.
{clean_files, ["ebin/*.beam"]}.
